* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    margin: 0px 0px;
    /* background-color: hsl(327, 36%, 28%); */
}

.flex {
    display: flex;
    background-color: #743251;
    justify-content: space-around;
    padding: 50px;
}





#slidertext {
    font-size: 30px;
}

#get {
    padding: 40px 0px;
    font-size: 80px;
}

.button {
    background-color: rgb(207, 16, 121);
    color: white;
    border-radius: 20px;
    padding: 10px 80px;
    border: none;
    font-size: 20px;
    margin: 50px 0px;
}

.flex .img {
    width: 100%;
    height: 80vh;


}

.banner {
     /* margin:10px; 
    padding:10px;  */
    background-image: url(gym12.jpg);

    background-size: cover;
    background-position: center;
    width:100%;
    height: 100vh;
    
}

.banner-text {
    text-align: center;
    color: rgb(228, 19, 124);
    padding-top: 180px;
    opacity: 50;
}

.banner-text h1 {
    padding:10px 0px;
    font-size: 50px;
}

.banner-text p {
    font-size: 20px;
    font-style: italic;
    border-radius: 10px;
}






.three{
 margin: 10px 0px 0px 10px;
 padding:20px 30px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    padding: 20px;
    border-radius: 10%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
  }
  
  .images{
  display: flex;
  gap: 30px;
  }
  

/* 
.image{
    padding:100px;
    display: flex;
  gap:20px;
  background-color: #dd0c8d;
  } */

  






.wholeclass{
    padding:30px;
    margin-top: 10px;
    /* justify-content: center; */
   background-color: #2b1821;
   border-color: white;
   border-bottom: #e9197a;
  }

  .font{
    color: #fd288d;
    text-align: center;
  }

  .features{
    display: flex;
  }

.feature {
  padding: 2px 16px;

  border-radius: 20px;
  text-align: center;
    
  }
  

  .icon{
   margin:40px; 
   padding:50px; 
    width: 55px;
    padding: 30px;
    border-radius: 100%;

    background-color: #e9197a;
    
  }

  .icon i{
    color:white;
  border-radius: 20px;
  }


  .blank{
    
    padding: 10px 50px; 
     border: 1px solid white;
    border-radius:10px; 

  }
  .blank h4{
    color:white;
  font-size: small;
  }
  
   
  .hero{
    
    background-image: url(scene1.jpg);
    background-position: center;
    width:100%;
    height:60vh;
    color: #fd288d;
    display: grid;
    justify-content: center;
    text-align: center;
  }
  .hero .text{
    font-size: 40px;
    padding:50px;
    
     
  }
  .text p{
    font-size: 15px;
    
  }
  .btnn{
    padding: 10px;
     color:white;
     background-color: #fd288d;
     border-radius: 10px;
     
  }
  
   

  
/* 
   .hero h1 {
    color: #fd288d;
    justify-content: ;
  }

  .hero-text h1{
justify-content: center;
  }
  .hero p{
    color: #fd288d;
  }  */

  .pro{
    
    display:flex;
    background-color:  #2b1821;
  } 

  #well{
margin:80px ;
padding: 20px 20px;
    font-size: 20px;
    background-color: rgba(1,1,1,0.5);
    text-align: center;
    color: wheat;
    border-radius: 10px;

  }

#well h1{
  margin:10 10 px;
font-size:xx-large;
  
   color: #fd288d;
   
}

 
.btn{
  margin: 20px;
  padding:20px;
  background-color: #fd288d;
  border-radius: 30px;
}
/* section seven  css starts from here */






.reviews{
  /* margin: 10px; */
  /* padding:0 10 10 10px; */

  border:1px solid rgb(216, 75, 75);
  /* border-radius: 0px; */
  background-color: #6d0435 ;
  font-size: medium;
  text-align: center;
 color: #fd288d;
 justify-content: center;

}
.reviewhead{
  /* font-size: medium; */
  text-align: center;
  /* color:#fd288d; */
} 

.review{
 border: 1px solid rgb(255, 252, 252);
 border-radius: 20px;
 padding: 20px;
 border-radius: 50px;
  color:white;
}
.thereview{
  padding: 30px 20px;
  display:flex;
  column-gap: 40px;
}
.review h2 {
  font-size: small;
 border-radius: 10px; 
}
.foot {
  font-size: medium;
  padding: 20px 0px 60px 0px;
}

.logo{
  
  background-image: url(contact.png);
  /* background-repeat: no-repeat; */
  background-size: cover;
  height: 60vh;
}